<a href="https://colab.research.google.com/github/cown0211/machinelearning_with_python/blob/main/2_1_%EA%B2%B0%EC%B8%A1%EC%B9%98%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [25]:
df = pd.DataFrame([
    [42, 'male', 12, 'reading', 'class2'], 
    [35, 'unknown', 3, 'cooking', 'class1'], 
    [1000, 'female', 7, 'cycling', 'class3'], 
    [1000, 'unknown', 21, 'unknown', 'unknown']
])
df.columns =  ['age', 'gender', 'month_birth', 'hobby', 'target']

# DataFrame 안의 리스트는 각각 df에서의 행

In [6]:
df

    age   gender  month_birth    hobby   target
0    42     male           12  reading   class2
1    35  unknown            3  cooking   class1
2  1000   female            7  cycling   class3
3  1000  unknown           21  unknown  unknown

In [7]:
df['age'].unique()

# age 변수의 unique 값 확인

array([  42,   35, 1000])

모든 변수의 unique 값 확인

In [10]:
df['gender'].unique()

array(['male', 'unknown', 'female'], dtype=object)

In [11]:
df['month_birth'].unique()

array([12,  3,  7, 21])

In [12]:
df['hobby'].unique()

array(['reading', 'cooking', 'cycling', 'unknown'], dtype=object)

In [13]:
df['target'].unique()

array(['class2', 'class1', 'class3', 'unknown'], dtype=object)

df.loc[] <- 괄호 안에 조건 or 숫자 넣으면 df의 행을 조회함

df.loc[0] <- df의 0행 조회

df.loc[0, ['age']] <- df의 0행 ['age']열 조회

df.loc[df['age'] > 150, ['age]] <- df의 ['age']가 150을 초과하는 ['age']열 조회

In [28]:
df.loc[0]

age                 42
gender            male
month_birth         12
hobby          reading
target          class2
Name: 0, dtype: object

In [32]:
df.loc[0, ['age']]

age    42
Name: 0, dtype: object

In [35]:
df.loc[df['age'] > 150]

    age   gender  month_birth    hobby   target
2  1000   female            7  cycling   class3
3  1000  unknown           21  unknown  unknown

In [33]:
df.loc[df['age'] > 150, ['age']]

    age
2  1000
3  1000

In [34]:
df.loc[df['age'] > 150, ['gender']]

    gender
2   female
3  unknown

In [39]:
df.loc[df['age'] > 150, ['age']] = np.nan
df.loc[df['gender'] == 'unknown', ['gender']] = np.nan
df.loc[df['month_birth'] > 12, ['month_birth']] = np.nan
df.loc[df['hobby'] == 'unknown', ['hobby']] = np.nan
df.loc[df['target'] == 'unknown', ['target']] = np.nan

# df의 부적절한 값을 결측치(np.nan)로 대체

In [40]:
df
# 결측치는 NaN으로 표시됨

    age  gender  month_birth    hobby  target
0  42.0    male         12.0  reading  class2
1  35.0     NaN          3.0  cooking  class1
2   NaN  female          7.0  cycling  class3
3   NaN     NaN          NaN      NaN     NaN

In [43]:
df.isnull() # df의 결측치(NaN) 여부 반환
df.isnull().sum() # df의 열 별로 결측치의 개수 반환

age            2
gender         2
month_birth    1
hobby          1
target         1
dtype: int64

In [44]:
df2 = df.dropna(axis = 0); df2

# 결측치를 포함하는 모든 행 삭제

    age gender  month_birth    hobby  target
0  42.0   male         12.0  reading  class2

In [46]:
df3 = df.dropna(axis = 1); df3

# 결측치를 포함하는 모든 열 삭제

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [48]:
# 모든 데이터가 결측치인 행 삭제
df4 = df.dropna(how = 'all'); df4

    age  gender  month_birth    hobby  target
0  42.0    male         12.0  reading  class2
1  35.0     NaN          3.0  cooking  class1
2   NaN  female          7.0  cycling  class3

In [51]:
# 결측치가 n개 미만인 행만 삭제
df5 = df.dropna(thresh = 1); df5

    age  gender  month_birth    hobby  target
0  42.0    male         12.0  reading  class2
1  35.0     NaN          3.0  cooking  class1
2   NaN  female          7.0  cycling  class3

In [53]:
df6 = df.dropna(subset = ['gender']); df6
# 특정 열에 결측치가 있는 경우의 행만 삭제

    age  gender  month_birth    hobby  target
0  42.0    male         12.0  reading  class2
2   NaN  female          7.0  cycling  class3

In [55]:
# 결측치를 대체하기
alter_values = {'age': 0,
                'gender': 'U',
                'month_birth': 0,
                'hobby': 'U',
                'target': 'class4'
                }

df7 = df.fillna(value = alter_values); df7

    age  gender  month_birth    hobby  target
0  42.0    male         12.0  reading  class2
1  35.0       U          3.0  cooking  class1
2   0.0  female          7.0  cycling  class3
3   0.0       U          0.0        U  class4